* {
    font-family: "Fira Sans Semibold", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    transition: background-color .3s ease-out;
}

window#waybar {
    background: transparent;
    color: #b5d0e5;
    font-family: 
        SpaceMono Nerd Font,
        feather;
    transition: background-color .5s;
}

#pulseaudio.source-muted {
    color: #f53c3c;
}

.modules-left,
.modules-center,
.modules-right
{
    background: rgba(0, 0, 8, .7);
    margin: 5px 10px;
    padding: 0 5px;
    border-radius: 15px;
}
.modules-left {
    padding: 0;
}
.modules-center {
    padding: 0 10px;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#tray
{
    padding: 0 6px;
    border-radius: 15px;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#temperature:hover,
#network:hover,
#pulseaudio:hover,
#tray:hover
{
    background: rgba(26, 27, 38, 0.9);
}


#workspaces button {
  font-weight: 900;
  font-size: 13pt;
  color: #c0caf5;
  border:none;
  border-radius: 15px;
}

#workspaces button.active {
    background: #13131d; 
}

#custom-fedora {
    padding: 0 10px;
    font-size: 22px;
    transition: color .5s;
}
#custom-fedora:hover {
    color: #1793d1;
}
