configuration {
  modes: "drun";
  show-icons: true;
  display-drun: "App";
  drun-display-format: "{icon} {name}";
  display-calc: "Calc";
  calc {
    hint-result: " ";
    hint-welcome: "";
  }
}

@theme "/dev/null"

* {
  bg: #161616;
  bg-sel: #232222;
  font: #e3e6ef;

  border: 0;
  margin: 0;
  padding: 0;
  spacing: 0;
}

window {
  width: 33%;
  background-color: @bg;
  animation: false;
  padding: 8;
}

element {
  text-color: @font;
  background-color: transparent;
  padding: 4;
}

element selected {
  text-color: @font;
  background-color: @bg-sel;
}

element-text {
  background-color: transparent;
  text-color: inherit;
}

element-icon {
  background-color: transparent;
  size: 24;
}

inputbar {
  children: [prompt, entry];
}

entry {
  background-color: @bg;
  text-color: @font;
  padding: 10px;
}

listview {
  background-color: @bg;
  columns: 1;
  lines: 10;
  require-input: true;
  fixed-height: false;
}

textbox {
  text-color: @font;
  background-color: transparent;
}

prompt {
  enabled: true;
  padding: 8;
  background-color: @bg;
  text-color: @font;
}

message {
  background-color: @bg;
  padding: 0 12 8 12;
}
