@define-color font-color #FFFFFF;
@define-color accent #232222;
@define-color background #161616;
@define-color background-alpha #161616CC;
@define-color urgent #FF4444;

* {
  color: @font-color;
  font-size: 15px;
  background: transparent;
  box-shadow: none;
  text-shadow: none;
}

.notification-row,
.notification-background,
.control-center-list,
.control-center-list-placeholder,
.body-image,
.image,
scrolledwindow,
scrolledwindow viewport {
  background: transparent;
  margin: 0;
  padding: 0;
  min-height: 0;
}

.body-image {
  min-height: 0;
  min-width: 0;
}

.notification {
  border-radius: 8px;
  margin: 4px 7px;
  padding: 0;
  background: @background;
  border: 2px solid @accent;
  min-height: 0;
}

.notification-content {
  padding: 10px;
}

.control-center .summary,
.control-center .time {
  font-size: 17px;
}

.control-center .body {
  font-size: 15px;
}

.close-button {
  background: @accent;
  border: none;
  border-radius: 100%;
  margin: 10px 10px 0 0;
  min-width: 24px;
  min-height: 24px;
}

.close-button:hover {
  background: @urgent;
}

.notification-default-action,
.notification-action {
  padding: 4px;
  background: @background;
  border: 2px solid @accent;
}

.notification-default-action {
  border-radius: 8px;
}

.notification-default-action:not(:only-child) {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.notification-action {
  border-radius: 0;
  border-top: none;
  border-right: none;
}

.notification-action:first-child {
  border-bottom-left-radius: 8px;
}

.notification-action:last-child {
  border-bottom-right-radius: 8px;
  border-right: 2px solid @accent;
}

.summary {
  font-size: 16px;
  font-weight: bold;
}

.time {
  font-size: 16px;
  font-weight: bold;
  margin-right: 18px;
}

.control-center {
  background: @background-alpha;
  border: 2px solid @accent;
  border-radius: 10px;
  padding: 4px;
}

.control-center .notification-row {
  opacity: 0.5;
}

.control-center .notification-row:hover {
  opacity: 1;
}

.control-center-clear-all,
.widget-title > button {
  background: @background;
  border: 2px solid @accent;
  border-radius: 8px;
}

.control-center-dnd {
  background: @background;
  border: 2px solid @accent;
  border-radius: 8px;
}

.control-center-dnd:checked {
  background: @accent;
}

.control-center-dnd slider {
  background: @background;
  border-radius: 8px;
  border: 1px solid @font-color;
}

.widget-mpris-player {
  margin: 8px;
  background: @background;
  border: 2px solid @accent;
  border-radius: 8px;
}

.widget-mpris-title {
  font-weight: bold;
  font-size: 1.25rem;
}

.widget-mpris-subtitle {
  font-size: 1.1rem;
}
